@font-face {
    font-family:amperzand;
    src: url(Amperzand.ttf);
}

 
@font-face {
    font-family:kin ;
    src: url(KIN668.TTF);
}

@font-face {
    font-family:regular ;
    src: url(EditorialToday-Regular.ttf);
}

@font-face {
    font-family:butler ;
    src: url(Butler_Black.otf);
}

@font-face {
    font-family:mediative ;
    src: url(Meditative.ttf);

}

body{
    background-image:url(img/fondo1.png) ;
    background-position: center;
background-size: cover;

}
.container-fluid{  background-image:url(img/ima1.jpg);
    background-position: center;
    background-size: cover;
    }
    .container p {  background-image:url(img/fondo11.png);
    background-position: center;
    background-size: cover;
    }
    